<p>Welcome to {{title}}</p>
{{# each productList}}
    <div clas="row">
        {{# each this}}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{this.img}}">
                <div class="caption">
                    <h3>{{this.title}}</h3>          
                    <p>
                        <div class="description">
                          <h3>{{this.description}}</h3>
                           <h3>{{this.origin}}</h3>
                        </div>
                    </p>
                <div class="clearfix">
                        <div class="price">{{this.price}}</div>
                        <div>
                            <a href="#" class="btn btn-success pull-right">Buy it</a>
                        </div>
                </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>  
{{/each}}